html, body {
    background-color: #dedede;
}
/** Angular cloak **/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/** Product comparison tool **/
#pct header {
    width: 100%;
    margin: 0;
    padding: 0 6px 4px;
    background-color: #dedede;
    text-align: center;
}
#pct main {
    padding: 0 0;
}

/** product selection **/
#pct .selection {
    border-top:     1px solid #ccc; 
    border-bottom:  1px solid #ccc; 
    text-align: center;
    overflow: auto;
}
#pct .selection select {
    padding: 15px 0;
    width: 100%;
}
@media (max-width: 991px) {
    #pct .selection .col-xs-4 {
        padding: 0;
    }
    #pct .selection select {
        margin: 0;
        text-align: center;
        border: none;
        -webkit-appearance: none;
        -moz-appearance:    none;
        appearance:         none;
        text-indent: 1px;
        text-overflow: '';
    }
    #pct .selection select::-ms-expand {
        display: none;
    }
    #pct .selection .middle {
        border-left:  1px solid #ccc; 
        border-right: 1px solid #ccc; 
    }
}
@media (min-width: 992px) {
    #pct .hidden-desktop {
        display: none;
    }
    #pct .selection select {
        padding: 15px;
    }
}

/** product paging on mobile **/
#pct .pagination {
    margin: 0;
    width: 100%;
}
#pct .pagination li {
    padding: 0;
}
#pct .pagination li a {
    display: inline-block;
    padding: 10px 5px;
    width: 100%;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
@media (min-width: 992px) {
    #pct .pagination {
        display: none;
    }
}

/** product comparison **/
#pct .comparing {
    padding-bottom: 10px;
    background-color: #dedede;
}
#pct .product-table {
    display: none;
}
#pct .product-table:first-child {
    display: block;
    padding: 0;
}
#pct .comparing .row {
    padding: 10px;
    background-color: #eee;
}
#pct .comparing .row.alt {
    background-color: #d1d1d1;
}
#pct .comparing .title {
    line-height: 14px;
}
#pct .no-selection {
    padding: 70px 6px 0;
    text-align: center;
}
@media (min-width: 992px) {
    #pct .product-table {
        display: block;
    }
    #pct .product-table:first-child {
        padding: 0 15px;
    }
}