<!doctype html>
<html lang="en" class="bs">
<head>
    <meta charset="utf-8">

    <title>The splendid product comparison tool</title>
    <meta name="description" content="The splendid product comparison tool">
    <meta name="author" content="Anthony Weber">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="css/inc/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="js/inc/ie8_respond.js"></script>
    <![endif]-->
</head>

<body>

    <!-- pct - product comparison tool - start -->
    <div id="pct" ng-app="productComparison" ng-cloak>

        <header>

            <h1>{{ 'APP_HEADLINE' | translate }}</h1>

        </header>

        <main ng-controller="ComparisonCtrl as compare">

            <!-- product dropdowns - start -->
            <nav class="selection">

                <div class="col-xs-4">
                    <select ng-model="selectedProduct1" ng-change="selectProduct(selectedProduct1, 0)" ng-options="product.name for product in products | noMultiple:this:0">
                        <option value="">{{ 'SELECT' | translate }}</option>
                    </select>
                </div>

                <div class="col-xs-4">
                    <select ng-model="selectedProduct2" ng-change="selectProduct(selectedProduct2, 1)" ng-options="product.name for product in products | noMultiple:this:1" class="middle" >
                        <option value="">{{ 'SELECT' | translate }}</option>
                    </select>
                </div>

                <div class="col-xs-4">
                    <select ng-model="selectedProduct3" ng-change="selectProduct(selectedProduct3, 2)" ng-options="product.name for product in products | noMultiple:this:2">
                        <option value="">{{ 'SELECT' | translate }}</option>
                    </select>
                </div>

            </nav>
            <!-- product dropdowns - end -->

            <!-- mobile paging buttons - start -->
            <section class="paging" ng-show="selectedProducts[selected].details">

                <ul class="pagination row">
                    <li class="col-xs-2" ng-class="{disabled: !navigatable()}">
                      <a href="#" ng-click="navigateProduct(-1)">&laquo;</a>
                    </li>
                    <li class="col-xs-8">
                      <a href="#">{{selectedProducts[selected].details.name}}</a>
                    </li>
                    <li class="col-xs-2" ng-class="{disabled: !navigatable()}">
                      <a href="#" ng-click="navigateProduct(1)">&raquo;</a>
                    </li>
                </ul>

            </section>
            <!-- mobile paging buttons - end -->

            <!-- selection results - start -->
            <section class="comparing">

                <!-- product details for mobile -->
                <product-details data-details="selectedProducts[selected].details" ng-show="selectedProducts[selected].details" class="hidden-desktop"></product-details>

                <!-- product details for desktop -->
                <div class="col-sm-4 product-table" ng-repeat="selProduct in selectedProducts">
                    <product-details ng-show="selProduct.details !== null" data-details="selProduct.details"></product-details>
                </div>

                <div class="no-selection" ng-show="checkUnselectedProducts() == 3">{{ 'NO_RESULTS' | translate }}</div>

            </section>
            <!-- selection results - end -->

        </main>

    </div>
    <!-- pct - product comparison tool - end -->

    <script src="js/inc/angular.min.js"></script>
    <script src="js/inc/angular-translate.min.js"></script>
    <script src="js/product-comparison.js"></script>
</body>
</html>