<article class="container-fluid">

    <div class="row alt">
        <div class="col-xs-4 title"><small>Price</small></div>
        <div class="col-xs-8">{{productDetails.price | currency:"£"}}</div>
    </div>
    <div class="row">
        <div class="col-xs-4 title"><small>Operating system</small></div>
        <div class="col-xs-8">{{productDetails.os}}</div>
    </div>
    <div class="row alt">
        <div class="col-xs-4 title"><small>Dimensions (mm)</small></div>
        <div class="col-xs-8">{{productDetails.dimensions}}</div>
    </div>
    <div class="row">
        <div class="col-xs-4 title"><small>Weight (kg)</small></div>
        <div class="col-xs-8">{{productDetails.weight.normal}}</div>
    </div>
    <div class="row alt">
        <div class="col-xs-4 title"><small>Transport weight (kg)</small></div>
        <div class="col-xs-8">{{productDetails.weight.transport}}</div>
    </div>
    <div class="row">
        <div class="col-xs-4 title"><small>Processor</small></div>
        <div class="col-xs-8">{{productDetails.processor.name}}</div>
    </div>
    <div class="row alt">
        <div class="col-xs-4 title"><small>Processor speed (GHz)</small></div>
        <div class="col-xs-8">{{productDetails.processor.speed}}</div>
    </div>
    <div class="row">
        <div class="col-xs-4 title"><small>Ram (GB)</small></div>
        <div class="col-xs-8">{{productDetails.ram}}</div>
    </div>
    <div class="row alt">
        <div class="col-xs-4 title"><small>Type of storage</small></div>
        <div class="col-xs-8">{{productDetails.storage.type}}</div>
    </div>
    <div class="row">
        <div class="col-xs-4 title"><small>Storage capacity (GB)</small></div>
        <div class="col-xs-8">{{productDetails.storage.capacity}}</div>
    </div>

</article>